.container {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  font-weight: bolder;
}
label {
  font-size: large;
  margin: 0.5rem;
}
.dobInput {
  margin: 0.5rem;
  width: 16%;
  padding: 0.5rem;
  border: 2px solid #055491;
  border-radius: 12px;
}
.resultValue {
}
.btn {
  width: 7%;
  height: 5%;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 2px solid #055491;
  border-radius: 12px;
  background-color: #055491;
  cursor: pointer;
}

button:hover {
  font-weight: bold;
  background: #055491;
  color: aliceblue;
}

.Social-Links {
  display: flex;
  flex-direction: row;
  margin: 2rem;
}

a::before {
  /* content: ''; */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* width: 100%; */
  /* height: 100%; */
  /* border-radius: 50%; */
  background: #055491;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}
i:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #013258;
}
a {
  margin: 2rem;
  height: 20vh;
}

.Social-Links i {
  font-size: 3.5em;
  padding: 8px;
}
i:hover {
  transform: translateY(-5px);
  transition: all 0.3s;
}
